@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(58, 58, 158, 0.8);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

h1 {
  margin-top: 60px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  font-size: 35px;
}

p {
  font-size: 1.125rem;
  text-align: center;
  color: #fff;
}

main {
  width: 45%;
  margin: 3.125rem auto 0 auto;
}

form {
  background: rgba(27, 27, 50, 0.8);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  margin-bottom: 20px;
}

label {
  display: flex;
  font-size: 22px;
  margin-bottom: 0.5rem;
  color: #fff;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1rem;
  min-width: 1rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #37af65;
  cursor: pointer;
  color: #fff;
}
